polkit.addRule(function(action, subject) {
        if ((action.id == "org.freedesktop.ModemManager1.Device.Control" ||
             action.id == "org.freedesktop.ModemManager1.Location") &&
            subject.user == "_geoclue2") {
                return polkit.Result.YES;
        }
});
